{% extends "base.html" %}

{% block content %}
{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <a href="/detail/{{jurnal_id}}/tambah">Tambah</a>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Deskripsi</th>
                        <th>Debt</th>
                        <th>Kredit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for d in detail %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td>{{d.tanggal}}</td>
                        <td>{{d.deskripsi}}</td>
                        <td>{{d.debt}}</td>
                        <td>{{d.kredit}}</td>
                        <td>
                            <a href="{{d.jurnal_id}}/edit/{{d.id}}" class="btn btn-primary">Edit</a>
                            <a href="{{d.jurnal_id}}/delete/{{d.id}}" class="btn btn-secondary">Hapus</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" style="text-align: center;">Total</td>
                        <td>{{ total_debt }}</td>
                        <td>{{ total_kredit }}</td>
                    </tr>
                </tbody>
            </table>
        <a href="/jurnal" class="btn btn-success">Kembali ke Jurnal</a>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock content %}